<ion-view view-title="{{::vm.novel.title}}">
  <ion-content padding= "false">
      <div class="list card">

           <div class="item">
             <h2 class="text-center">
                 <strong>{{::vm.novel.title}}</strong>
             </h2>
             <p><strong>Responsáveis:</strong>
                <span  ng-repeat="admin in vm.novel.admin_project track by $index">
                    {{admin}} {{$last ? '.' : ', '}}
                </span>
             </p>
             <p>Status: {{::vm.novel.status}}</p>
             <p>Inicio: {{::vm.novel.start_date}} <span ng-if="vm.novel.end_date">Término: {{::vm.novel.end_date}}</span></p>
           </div>

           <div class="item item-body">
             <img class="full-image" ng-src="{{vm.novel.img_url}}">
             <p>
               {{::vm.novel.description}}
             </p>
             <p><strong>Autores:</strong>
                <span  ng-repeat="author in vm.novel.authors track by $index">
                    {{author}}{{$last ? '.' : ', '}}
                </span>
             </p>
             <div>
                 <p>
                   <a href="#" class="subdued">1 Favoritos</a>
                   <a href="#" class="subdued">5 Comments</a>
                 </p>
             </div>
           </div>
           <div style="height: 20px; background-color: royal;"></div>
           <div class="list">
              <a class="item" ng-repeat="chapter in vm.listChapters track by $index" ng-click="vm.goChapter(chapter)">
                <h2>{{::chapter.num}} {{::chapter.title}}</h2>
              </a>
           </div>
     </div>


  </ion-content>
</ion-view>
